extends: default
rules:
  comments:
    min-spaces-from-content: 1
    require-starting-space: false
  document-start: disable
  indentation: disable
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ["true", "false", "on", "off"]
    check-keys: false
